<a href="https://colab.research.google.com/github/Aashish123-aikki/MachineLearning/blob/main/RealEstate_Prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd

In [4]:
df=pd.read_csv('benghouse.csv')

In [5]:
df.head()

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00

In [6]:
df=df.drop(['society'],axis=1)
df.head()

,area_type,availability,location,size,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,1200,2.0,1.0,51.00

In [11]:
df2=df.dropna()

In [12]:
df2.isnull().sum()

area_type       0
availability    0
location        0
size            0
total_sqft      0
bath            0
balcony         0
price           0
dtype: int64

In [13]:
df3=df2.drop(['area_type','availability','bath','balcony'],axis=1)

In [14]:
df3.head()

                   location       size total_sqft   price
0  Electronic City Phase II      2 BHK       1056   39.07
1          Chikka Tirupathi  4 Bedroom       2600  120.00
2               Uttarahalli      3 BHK       1440   62.00
3        Lingadheeranahalli      3 BHK       1521   95.00
4                  Kothanur      2 BHK       1200   51.00

In [15]:
df3['bhk']=df3['size'].apply(lambda x:int(x.split(' ')[0]))
df3.head(10)

                    location       size total_sqft   price  bhk
0   Electronic City Phase II      2 BHK       1056   39.07    2
1           Chikka Tirupathi  4 Bedroom       2600  120.00    4
2                Uttarahalli      3 BHK       1440   62.00    3
3         Lingadheeranahalli      3 BHK       1521   95.00    3
4                   Kothanur      2 BHK       1200   51.00    2
5                 Whitefield      2 BHK       1170   38.00    2
8               Marathahalli      3 BHK       1310   63.25    3
10                Whitefield      3 BHK       1800   70.00    3
11                Whitefield  4 Bedroom       2785  295.00    4
12        7th Phase JP Nagar      2 BHK       1000   38.00    2

In [18]:
df3.total_sqft.unique()

array(['1056', '2600', '1440', ..., '1133 - 1384', '774', '4689'],
      dtype=object)

In [21]:
type(df3['total_sqft'][0])

str

In [25]:
def conver_to_float(x):
  token=x.split('-')
  if(len(token)==2):
    return (float(token[0])+float(token[1]))/2
  try:
    return float(x)
  except:
    return None

In [29]:
df3['total_sqft']=df3['total_sqft'].apply(conver_to_float)

In [36]:
locvalue=df3.groupby('location')['location'].agg('count').sort_values(ascending=False)

In [38]:
locvalue[locvalue<=10]

location
Kalkere                  10
Dairy Circle             10
Nagappa Reddy Layout     10
Ganga Nagar              10
1st Block Koramangala    10
                         ..
Kalhalli                  1
Kalkere Channasandra      1
 Banaswadi                1
Kamdhenu Nagar            1
whitefiled                1
Name: location, Length: 1028, dtype: int64

In [39]:
df3.location=df3.location.apply(lambda x:'others' if x in locvalue[locvalue<=10] else x)

In [40]:
df3.shape

(12710, 5)

In [43]:
len(df3.location.unique())

238